[user]
  name = tahmidbintaslim
  email = tahmidbintaslimrafi@gmail.com
[core]
  editor = code --wait
[credential]
  helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
